.topBar{
    margin: 20px 0;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.topBar h1{
    font-size: 2.4rem;
}

.visitWebsite{
    display: table;
    background-color: #0a032b;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    font-size: 0.9rem;
}

.visitWebsite:hover{
    transform: scale(1.03);
}

.description{
    margin: 60px 0;
    font-size: 1.2rem;
    line-height: 2rem;
}

.silder{
    margin: 60px auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 20px;
    overflow: hidden;
}

.slide{
    max-width: 100%;
    height: auto;
}

.backButton {
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

@media(max-width: 767px){
    .project{
        margin-top: 30px;
    }
}