.stackSection{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%;
    margin: -120px 0 0 0;
    gap: 32px;
}

.stackColumn{
    background-color: #fff;
    border-radius: 20px;
    width: 100%;
    max-width: 380px;
    border: 1px solid #EAECF0;
    padding: 22px 32px 40px 32px;
}

.stackTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    padding: 32px;
}

.stackIcon{
    border-radius: 50%;
    background-color: #F5F5F5;
    padding: 10px;
    box-sizing: content-box;
}

.stackList{
    list-style: none;
}

.stackList li{
    margin-top: 25px;
    font-size: 1.2rem;
    color: #475467;
    gap: 12px;
}

/* Small Desktop */
@media (min-width: 768px) {
    .stackSection{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
}

/* Medium Desktop */
@media (min-width: 991px) {
    .stackSection{
        grid-template-columns: 1fr 1fr 1fr;
    }
}